$default-font-size: 1.6rem;

$color-primary-light: #ebebeb;

$color-secondary-dark: #282c2d;
$color-secondary-default: #3a3d3e;
$color-secondary-light: #404749;
$color-secondary-lighter: #969c9f;

$color-white: #fff;
$color-black: #000;
