@import "./sass/abstracts/variables";
@import "./sass/abstracts/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-primary-light;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  padding: 3rem;
  @include break(phone) {
    padding: 0;
  }
  font-family: -apple-system, BlinkMacSystemFont, Arial, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
